@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Poppins:wght@700&display=swap');

*{
    font-family: "Poppins", sans-serif;
}
.lineee{
    margin-top: 40%;
    text-align: center;
}

.imgword{
    font-weight: 600;
    color: #000000;
}
@media screen and (max-width: 600px) {
    .lineee {
      margin-top: 200%;
       
    }
    .imglin{
        font-size: 6px;
    }
  }